snippet p
	<p>
	${1}
	</p>

snippet b
	<b>
	${1}
	</b>

snippet pre
	<pre>
	${1}
	</pre>

snippet ol
	<ol>
	  <li>${1}</li>
	</ol>

snippet ul
	<ul>
	  <li>${1}</li>
	<uol>

snippet prompt
	<b><font color="red">>> </font></b>${1}

snippet br
	<br>

snippet h3
	<h3>${1}</h3>
