snippet usage
	usage() {
		echo "Usage: $(basename $0) ${1:arguments}"
		echo "  -${2:option} <${3:optarg}"
	}
snippet com
	# `system("whoami")`: `system("date +'%d %b %Y'")` : ${1:description of change being made}

snippet funcom
	### Function ${1:function name} : ${2:description of function}
	###   Usage: $1 ${3:description of arguments}
	#{{{
	###   Created by `system("whoami")` on `system("date +'%d %b %Y'")`
	function $1
	{
	  ${4}
	} #}}}
