snippet ll
	llength $${1:varname}

snippet lap
	lappend ${1:varname} ${2:single item}

snippet con
	concat $${1:varname} ${2:single item}

snippet com
	# `system("whoami")`: `system("date +'%d %b %Y'")` : ${1:description of change being made}
